<a href="https://colab.research.google.com/github/Romank707/python/blob/python-for-analytics/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Загрузить, просмотреть, определить количество строк и склеить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv

In [5]:
import pandas as pd

df_1 = pd.read_csv('marketing_campaign.csv', header = 0, sep = ',')
df_2 = pd.read_csv('subscribers.csv', header = 0, sep = ',')
df_3 = pd.read_csv('users.csv', header = 0, sep = ',')

In [14]:
df_1.shape

(10037, 6)

In [15]:
df_2.shape

(10037, 5)

In [6]:
df_3.shape

(10037, 3)

In [8]:
df3_merged = pd.merge(pd.merge(df_1, df_2), df_3)

In [9]:
df3_merged.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

2. Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.

In [10]:
df3_merged.shape

(10037, 12)

In [41]:
df3_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

3. Определить эффективность маркетинговых каналов по привлечению платящих игроков.

In [16]:
df3_merged.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,31,115,2,7,4
top,a1000,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

4. Определить самую раннюю дату подписки на сервис.

In [40]:
df_2['date_subscribed'] = pd.to_datetime(df_2['date_subscribed'])
df_2['date_subscribed'].min()

Timestamp('2018-01-01 00:00:00')

5. Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [53]:
df3_merged_filtered = df3_merged[df3_merged['is_retained'] == True]
df3_merged_filtered[['age_group',	'language_preferred']].describe()

          age_group language_preferred
count          1279               1279
unique            7                  4
top     19-24 years            English
freq            326               1179